.App {
  padding: 1rem;
  
}
.App-Body{
  background-image: url("https://wallpaperaccess.com/full/2199583.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  height: 700px;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: black;
    background-image: url("https://img.freepik.com/premium-vector/watercolor-background_23-2148499318.jpg?size=626&ext=jpg&ga=GA1.2.1482922351.1684308822&semt=ais");

}

.Title {
  font-size: 35px;
  margin-left: 500px;
  font-family: inherit;

}
.logo{
  height:120px;
  margin-left: 20px;
}

.search-section {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}


.search-box {
  outline: none;
  flex: 1;
  border: 1px solid black;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  max-width: 25%;
  margin-left: 250px;
}

.search-button{
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid #205dff;
  background-color: #205dff;
  color: white;
  font-size: 1rem;
  width: 9%;

}

.show-all-button {
  padding: 0.8rem 1rem;
  border: none;
  background-color: #205dff;
  color: white;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 15%;
  margin-left: 480px;

}

.show-all-button:hover {
  box-shadow: 0 0 20px rgba(32, 93, 255, 0.5);
}


.cards-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%; 
  margin-top: 7rem; 
}

.profile-card {
  flex: 0 0 calc(33.33% - 8px); 
  box-sizing: border-box;
}

.profile-card:first-child {
  margin-left: 8rem;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 200px;
  font-size: 60px; 
  font-weight: bold; 
}

.scroll-button:first-child {
  left: 0;
  margin-left: 60px;
  padding-top: 270px;
}

.scroll-button:last-child {
  right: 0;
  margin-right: -100px;
  padding-top: 240px;
}

.cards-container.centered {
  justify-content: center;
  scroll-snap-type: x mandatory;
}
